<div class="top">
  <div class="d-flex navbar justify-content-between shadow">
    <div class="navbar-brand nav-link active ms-2 fontStyle">
      <span>
        < </span>
          <span>{{'Name' | translate}}</span>
          <span> /> </span>
    </div>
    <div>

    </div>
    <div class="me-2">
      <div class="btn-group" id="123" dropdown placement="bottom left" [insideClick]="false">
        <button id="button-basic" dropdownToggle type="button" class="btn btn-danger dropdown-toggle" aria-controls="dropdown-basic">
          Language <span class="caret"></span>
        </button>
        <div id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-end mt-1" role="menu">
          <div role="group">
            @for (language of languages; track language) {
            <button type="button" class="dropdown-item" role="menuitem" (click)="selectLanguage(language.code)">{{ language.name }}</button>
            }
          </div>
          <div class="dropdown-divider" role="separator"></div>
          <div class="dropdown-item text-muted small">This will save as a default language.</div>
        </div>
      </div>
    </div>
  </div>
</div>