.top {
    position: relative;
    width: 100%;
    height: 60px;
}

.fontStyle {
    font-family: cursive;
}

// .animate-charcter {
//     color: hsl(0, 0%, 28%);
// }

// .animate-charcter {
//     background: linear-gradient(to right, hsl(0, 0%, 30%) 0, hsl(0, 0%, 100%) 10%, hsl(0, 0%, 30%) 20%);
//     background-clip: text;
//     -webkit-text-fill-color: transparent;
//     animation: shine 3s infinite linear;
// }

// @keyframes shine {
//     0% {
//         background-position: 0;
//     }

//     60% {
//         background-position: 600px;
//     }

//     100% {
//         background-position: 600px;
//     }
// }

.navbar {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gradient 15s ease infinite;
    color: aliceblue;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}