<div class="top">
    <div class="d-flex navbar justify-content-between shadow">
        <div class="navbar-brand nav-link active ms-2 fontStyle">
            <span>
                < </span>
                    <span>{{'Name' | translate}}</span>
                    <span> /> </span>
        </div>
        <div>

        </div>
        <div class="me-2">
            <div class="btn-group" id="123" dropdown placement="bottom left" [insideClick]="false">
                <button id="button-basic" dropdownToggle type="button" class="btn btn-danger dropdown-toggle" aria-controls="dropdown-basic">
                    Language <span class="caret"></span>
                </button>
                <ul style="cursor: pointer;" id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-end mt-1" role="menu" aria-labelledby="button-basic">
                    <li *ngFor="let language of languages" role="menuitem">
                        <a class="dropdown-item" (click)="selectLanguage(language.code)">{{ language.name }}</a>
                    </li>
                    <li class="divider dropdown-divider"></li>
                    <li role="menuitem">
                        <span class="dropdown-item">This will save as a default language.</span>
                    </li>
                </ul>
            </div>
            <!-- data-bs-toggle="dropdown" : Add this to use Boosttrap dropdown. -->
        </div>
    </div>
</div>