.centerDiv {
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.fa-heart:hover {
    color: red !important;
}

.customStyle {
    border: 1px solid #6c757d;
    .fa-heart {
        font-size: 1.5em;
    }
}