.errmsg {
    color: red;
    margin: 1vh;
    font-size: 2vh;
    .form-control {
        border-bottom: solid red 1px;
    }
}

.form-control {
    border: none;
    border-bottom: solid black 1px;
}

.form-control:focus {
    color: #212529;
    border-color: black;
    outline: none;
    box-shadow: none
}
.centerDiv {
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
