<!-- 
<div class="d-flex flex-column justify-content-center w-100 font-shadow">
    <div class="d-flex mb-2 flex-column justify-content-center align-items-center">
        <div>Downalod Resume</div>
    </div>
    <div class="mb-5">
        <button type="button" class="btn btn-info" (click)="saveResumeAsPDF()">Downalod Resume</button>
    </div>
</div> -->
<footer class="info-text mb-2" style="color: rgb(0, 28, 85);">
    <h4 class="centerContent">Hi, Thanks for Visiting.</h4>
    <h6 class="centerContent">Planning to add others details so one can connect to me over email or call.</h6>
</footer>