<footer class="info-text mb-3" style="color: rgb(0, 28, 85);">
    <section class="contact-me">
        <h4 class="title">Get in touch</h4>
    </section>
    <div class="row">
        <div class="col-md-6 container">
            <div class="contact-form row">
                <div class="col shadow-sm rounded">
                    <form action="" method="" #messageForm='ngForm' (ngSubmit)='sendMessage(messageForm)'>
                        <div class="form-row">
                            <div class="form-group">
                                <input type="text" id="name" name="fullName" class="form-control" minlength="4" placeholder="Full Name" #fullName="ngModel" ngModel required>
                                @if (fullName.invalid && (fullName.dirty || fullName.touched)) {
                                <div class="errmsg">
                                    @if (fullName.errors?.['required']) {
                                    <p>* Name is required.</p>
                                    }
                                    @if (fullName.errors?.['minlength']) {
                                    <p>* Name must be at least 4 characters long.</p>
                                    }
                                </div>
                                }
                            </div>
                            <div class="form-group mt-3">
                                <input type="email" class="form-control" name="email" placeholder="Email" #email="ngModel" ngModel required>
                                @if (email.invalid && (email.dirty || email.touched)) {
                                <div class="errmsg">
                                    @if (email.errors?.['required']) {
                                    <p>* Email is required.</p>
                                    }
                                </div>
                                }
                            </div>
                            <div class="form-group mt-3">
                                <textarea name="message" #message='ngModel' class="form-control" placeholder="Message" ngModel required cols="30" rows="1"></textarea>
                                @if (message.invalid && (message.dirty || message.touched)) {
                                <div class="errmsg">
                                    @if (message.errors?.['required']) {
                                    <p>* Message is required.</p>
                                    }
                                </div>
                                }
                            </div>
                        </div>
                        <div class="row mt-3 mb-3" style="float: right">
                            <div class="col">
                                <button type="submit" [disabled]='messageForm.invalid' class="btn btn-outline-primary shadow">Send</button>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-outline-secondary shadow" (click)="messageForm.reset()">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-5 mb-5">
            <div class="h-100 d-flex align-items-center justify-content-center">
                <div>
                    <h4 class="centerContent" style="font-family: cursive !important">
                        Hi, Made with ❤️ by Ayush, Thanks for Visiting.
                    </h4>
                    <div>
                        <button type="button" class="btn customStyle position-relative shadow" (click)="increaseLike()">
                            <i class="fa fa-thin fa-heart fa-2x" [ngStyle]="{'color':  ifClicked ? 'red' : '' }"> </i>
                            <span class="shadow position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info text-dark">
                                @if (count>0) {
                                <span class="ms-1" style="color: rgb(0, 28, 85);">{{count}}</span>
                                }
                            </span>
                        </button>
                        <button type="button" class="btn btn-outline-secondary shadow ms-3" aria-details="Feebback Form Section" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                            Feedback
                        </button> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <section class="contact-me">
            <h4 class="title">Leave a comment</h4>
        </section>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body shadow">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#feedback_Form" aria-expanded="true" aria-controls="feedback_Form">
                        Feedback
                    </button>
                </h2>
                <div id="feedback_Form" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body customPadding">
                        <div class="contact-form row">
                            <div class="col rounded">
                                <form action="" method="" #feedback_Form='ngForm' (ngSubmit)='sendFeedback(feedback_Form)'>
                                    <div class="form mt-3">
                                        <div class="form-group mb-2">
                                            <textarea name="feedback_Message" #feedback_Message='ngModel' class="form-control" placeholder="Thought [Emoji is also supported.]" ngModel required cols="20" rows="2">
                                            </textarea>
                                            @if (feedback_Message.invalid && (feedback_Message.dirty || feedback_Message.touched)) {
                                            <div class="errmsg">
                                                @if (feedback_Message.errors?.['required']) {
                                                <p>* Feedback is required.</p>
                                                }
                                            </div>
                                            }
                                        </div>
                                        <div class="form-group">
                                            <input type="text" id="name" name="feedback_Messager" class="form-control" minlength="4" placeholder="Name" #feedback_Messager="ngModel" ngModel required>
                                            @if (feedback_Messager.invalid && (feedback_Messager.dirty || feedback_Messager.touched)) {
                                            <div class="errmsg">
                                                @if (feedback_Messager.errors?.['required']) {
                                                <p>* Name is required.</p>
                                                } @else if (feedback_Messager.errors?.['minlength']) {
                                                <p>* Name must be at least 4 characters long.</p>
                                                }
                                            </div>
                                            }
                                        </div>
                                        <div class="form-group mt-3">
                                            <input type="email" class="form-control" name="f_email" placeholder="Please enter your email." #f_email="ngModel" ngModel required>
                                            @if (f_email.invalid && (f_email.dirty || f_email.touched)) {
                                            <div class="errmsg">
                                                @if (f_email.errors?.['required']) {
                                                <p>* Email is required.</p>
                                                }
                                            </div>
                                            }
                                        </div>
                                    </div>
                                    <div class="row mt-3 mb-3" style="float: right">
                                        <div class="col">
                                            <button type="submit" [disabled]='feedback_Form.invalid' class="btn btn-outline-primary shadow">Submit</button>
                                        </div>
                                        <div class="col">
                                            <button type="button" class="btn btn-outline-secondary shadow" (click)="feedback_Form.reset()">Reset</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#feedback_Table" aria-expanded="false" aria-controls="feedback_Table">
                        Previous Feedback
                    </button>
                </h2>
                <div id="feedback_Table" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body customPadding table-wrap">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Message</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let feedBackData of feedBackData">
                                    <!-- <td>{{feedBackData['id']}}</td> -->
                                    <td>{{feedBackData['feedback_Messager']}}</td>
                                    <td>{{feedBackData['feedback_Message']}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>