<section class="row">
    <article class="col-sm-6 col-md-6 my-2" style="display: flex; align-items: center;">
        <img class="img-fluid rounded" src="assets/project_Icon.jpg" alt="">
    </article>
    <article class="col-sm-6 col-md-6">
        <section class="contact-me">
            <h4 class="title">{{ careerDetailsObj.careerSection.title }}</h4>
        </section>
        <h6>Roles and Responsibilities:</h6>
        <ul role="list">
            @for (responsibility of careerDetailsObj.careerSection.responsibilities; track $index) {
            <li data-aos="fade-up" data-aos-duration="1000">{{ responsibility }}</li>
            }
        </ul>
    </article>
</section>

<section class="row">
    @for (company of careerDetailsObj.companies; track $index) {
    <div class="col-lg-4 d-flex align-items-stretch">
        <div class="card shadow">
            <section class="view overlay">
                <img class="img-fluid card-img-top imgHeight" [src]="company.image" alt="Card image cap">
            </section>
            <section class="card-body">
                <h5 class="card-title">{{ company.name }}</h5>
                <hr>
                <p class="card-text">{{ company.description }}</p>
            </section>
            <section class="card-footer">
                <button type="button" class="btn btn-light-blue btn-md">
                    <a [href]="company.readMoreLink" target="_blank" style="text-decoration: none;">Read more...</a>
                </button>
            </section>
        </div>
    </div>
    }
</section>