<section class="row">
    <article class="col-sm-6 col-md-6 my-2" style="display: flex; align-items: center;">
        <img class="img-fluid rounded" src="assets/project_Icon.jpg" alt="">
    </article>
    <article class="col-sm-6 col-md-6">
        <h1 class="info-text mb-2" style="color: rgb(0, 28, 85);">Projects</h1>
        <p>
            My projects makes use of vast variety of latest technology tools. My best experience is to create projects
            and deploy them to web applications.
        </p>
    </article>
</section>
<section class="card-group mt-3">
    <section class="card">
        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/07/17/22/43/student-849825__480.jpg"
            alt="Card image cap">
        <article class="card-body">
            <h5 class="card-title">Talent Hunt</h5>
            <p class="card-text">In House project</p>
        </article>
        <article class="card-footer bg-transparent border-success">
            <button type="button" class="btn btn-light btnRight" >Goto</button>
        </article>
    </section>
    <section class="card">
        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/12/02/02/10/idea-1876659__480.jpg"
            alt="Card image cap">
        <article class="card-body">
            <h5 class="card-title">Ayush Portolio</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content. his
                card has supporting text below as a natural lead-in to additional content.</p>
        </article>
        <article class="card-footer bg-transparent border-success">
            <button type="button" class="btn btn-light btnRight">Goto</button>
        </article>
    </section>
    <section class="card">
        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/07/17/22/43/student-849824__480.jpg"
            alt="Card image cap">
        <article class="card-body">
            <h5 class="card-title">EFI India Pvt Ltd</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This card has even longer content than the first to show that equal height action.</p>
        </article>
        <article class="card-footer bg-transparent border-success">
            <button type="button" class="btn btn-light btnRight"> <a href="" style="text-decoration: none;"> Goto... </a></button>
        </article>
    </section>
    <section class="card">
        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2018/03/10/09/45/businessman-3213659__480.jpg"
            alt="Card image cap">
        <article class="card-body">
            <h5 class="card-title">Others</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This card has even longer content than the first to show that equal height action.</p>
        </article>
        <article class="card-footer bg-transparent border-success">
            <button type="button" class="btn btn-light btnRight"> <a href="" style="text-decoration: none;"> Goto... </a></button>
        </article>
    </section>
</section>
<section class="centerContent">
    <button type="button" class="btn btn-light btnRight"> <a href="" style="text-decoration: none;"> More Project </a></button>
</section>