<section>
    <div class="">
        <marquee direction="left" onmouseover="this.stop();" onmouseout="this.start();" class="mt-2 rounded onHover" style="font-family: Calibri, sans-serif; color: #FFFFFF" bgcolor="#00224f" scrolldelay="100" behavior="loop">
            <span>This app is running on Angular Version 14.</span>
            <span> | </span>
            <span>Started learning <code>React.js </code>fron Namaste React by <b>Akshay Saini</b>.</span>
        </marquee>
    </div>
</section>

<section class="row">
    <article class="col-sm-6 col-md-8">
        <section class="info-text mb-2" style="color: rgb(0, 28, 85);">{{ userName | upperCase}}</section>
        <section class="mb-1" style="color: rgb(0, 28, 85);font-family: Google Sans Bold Italic;">Associate Tech Lead at
            Zycus Infotech. <b>[Angular 14]</b> </section>
        <!-- <p class="">
            A passionate individual who always thrives to work on end to end products which develop sustainable and
            scalable social and technical systems to create impact.
        </p> -->
        <p>
            Experienced Angular Developer with a passion for creating efficient and dynamic web applications.
            Skilled in developing responsive and intuitive user interfaces.
            Proficient in Angular, JavaScript, TypeScript, HTML and CSS.
        </p>
        <ul class="list-style" role=listitem>
            <!-- [ngStyle]="{fontSize: true ? '10px' : '50px', backgroundColor: 'red'}" -->
            <li>{{total_YOE}} years of experience working in a corporate environment as a front-end UI/Web developer.</li>
            <!-- [ngClass]="['firstStyle']" -->
            <!-- [ngClass]="userName.length > 15 ? 'isActive' : 'notActive' " -->
            <li> Experienced in UI web applications using Angular 6+ <code>[ Currently using 14 ]</code> HTML5, CSS3,
                JavaScript, JSON, Bootstrap.
            </li>
            <li>Strong technical skills in complex website development including web-based applications and desktop
                application.</li>
            <li>Experience in system analysis, design, workflow architecture, development, testing and maintenance of
                web based applications.
            </li>
            <li>Good Experience in developing the Single Page Applications using Angular.
            </li>
            <li>Conducted code reviews and implemented best practices to ensure code quality and maintainability.</li>
            <li>Experienced with all the phases of SDLC and <b> agile development methodologies including SCRUM, involved in daily SCRUM meetings to keep track of the Ongoing project status and issues using JIRA </b>.
            </li>
            <li>Excellent experience in GitHub, SVN and BitBucket for source code management and for version control.</li>
            <!-- Custom Directive: appTextHightlight -->
            <li>Expertise in using IDE's like Visual Studio Code, Visual Studio, Notepad++ and IntelliJ.</li>
            <!-- <li>Worked extensively in Agile Development process.
            </li> -->
        </ul>
        <!-- </p> -->
    </article>
    <article class="col-sm-6 col-md-4 my-2" style="display: flex; align-items: center;">
        <img class="img-fluid rounded" src="assets/homeImg.gif" alt="">
    </article>
</section>
<section class="mb-2">
    <article>
        <button type="button" [ariaHasPopup]="true" class="btn btn-light shadow" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Hire
            Me</button>
        <span> | </span>
        <button type="button" class="btn btn-info shadow" (click)="saveResumeAsPDF()">Download CV</button>
    </article>
    <article class="info-text-p mt-2 socialMediaIcons">
        <a href="https://www.linkedin.com/in/ui-ayush-anand/" target="_blank" class="btn rounded">
            <i class="fa fa-2x fa-linkedin" aria-hidden="true"></i>
        </a>
        <a href="https://github.com/ayush2209" target="_blank" class="btn">
            <i class="fa fa-2x fa-github" aria-hidden="true"></i>
        </a>
        <a href="https://twitter.com/omayushanand?t=rqiFI1UM_JngkbiLNqQHDg&s=08" target="_blank" class="btn">
            <i class="fa fa-2x fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="insta" class="btn">
            <i class="fa fa-2x fa-instagram" aria-hidden="true"></i>
        </a>
    </article>
</section>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Hire me</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" method="" #messageForm='ngForm' (ngSubmit)='sendMessage(messageForm)'>
                    <div class="form-row mt-3">
                        <div class="form-group">
                            <input type="text" id="name" name="fullName" class="form-control" minlength="4" placeholder="Enter Name" #fullName="ngModel" ngModel required>

                            <div *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)" class="errmsg">
                                <div *ngIf="fullName.errors?.['required']">
                                    <p>* Name is required.</p>
                                </div>
                                <div *ngIf="fullName.errors?.['minlength']">
                                    <p>* Name must be at least 4 characters long.</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="email" class="form-control" name="email" placeholder="Email" #email="ngModel" ngModel required>
                            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="errmsg">
                                <div *ngIf="email.errors?.['required']">
                                    <p>* Email is required.</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <textarea name="message" #message='ngModel' class="form-control" placeholder="Message" ngModel required cols="30" rows="4"></textarea>
                            <div *ngIf="message.invalid && (message.dirty || message.touched)" class="errmsg">
                                <div *ngIf="message.errors?.['required']">
                                    <p>* Message is required.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div style="gap: 10px; display: flex">
                            <button type="submit" [disabled]='messageForm.invalid' class="btn btn-outline-primary shadow">Send Invitation</button>
                            <button type="button" class="btn btn-light shadow" (click)="messageForm.reset();">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>