<section class="row mb-3">
    <article class="col-sm-6 col-md-6">
        <section class="info-text mb-2" style="color: rgb(0, 28, 85);">Ayush Anand</section>
        <section class="mb-1" style="color: rgb(0, 28, 85);font-family: Google Sans Bold Italic;">Associate Tech Lead at
            Zycus Infotech. <b>[Angular 14]</b> </section>
        <p class="">
            I have a total of 3.5 years of hands-on experience in building, developing, and maintaining website and
            applications.
        </p>
        <ul class="list-style">
            <li>Dedicated to driving innovation with the ability to follow industry and technological trends. A proven
                team player, can take independent responsibility as well as ability to lead, contribute and be a
                Productive team member.
            </li>
            <li>Responsible to <b>end-to-end Development</b> of giving requirement.</li>
            <li>Code Development and Review.</li>
            <li>Unit Test using Karma & Jasmine.</li>
            <li>Infrastructure Upgrade and Bug Tracking and fixing.</li>
            <li> I have undergone 3 months training on Html, CSS, JavaScript, Angular from J-spider, Old Airport
                Road.</li>
        </ul>
        <!-- </p> -->
    </article>
    <article class="col-sm-6 col-md-6 my-2" style="display: flex; align-items: center;">
        <img class="img-fluid rounded" src="assets/homeImg.gif" alt="">
    </article>
</section>
<section class="mb-2">
    <article>
        <button type="button" class="btn btn-light shadow" (click)="hireMe()">Hire Me</button>
        <span> | </span>
        <button type="button" class="btn btn-info shadow" (click)="saveResumeAsPDF()">Download CV</button>
    </article>
    <article class="info-text-p mt-2 socialMediaIcons">
        <a href="https://www.linkedin.com/in/ui-ayush-anand/" target="_blank" class="btn">
            <i class="fa fa-2x fa-linkedin" aria-hidden="true"></i>
        </a>
        <a href="https://github.com/ayush2209" target="_blank" class="btn">
            <i class="fa fa-2x fa-github" aria-hidden="true"></i>
        </a>
        <a href="https://twitter.com/omayushanand?t=rqiFI1UM_JngkbiLNqQHDg&s=08" target="_blank" class="btn">
            <i class="fa-brands fa-2x fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="insta" class="btn">
            <i class="fa fa-2x fa-instagram" aria-hidden="true"></i>
        </a>
    </article>
</section>