<section class="row mb-5">
    <article class="col-sm-6 col-md-6">
        <div class="info-text mb-2" style="color: rgb(0, 28, 85);">Ayush Anand</div>
        <p class="info-text-p">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus modi explicabo sit perspiciatis accusamus
            dolorem soluta nisi laudantium, aliquid facere aperiam veniam consequatur quaerat iure odio aspernatur autem
            amet quam?
        </p>
        <div class="info-text-p mt-2">
            <button type="button" class="btn btn-light" (click)="hireMe()">Hire Me</button> | <span> <button type="button" class="btn btn-info" (click)="saveResumeAsPDF()">Download CV</button> </span>
        </div>
        <div class="info-text-p mt-2">
           <a>Linked In</a>  | <a>GitHub</a> 
        </div>
    </article>
    <article class="col-sm-6 col-md-6 my-2" style="display: flex; align-items: center;">
        <img class="img-fluid rounded" src="assets/homeImg.gif" alt="">
    </article>
</section>