<app-navbar></app-navbar>
<hr style="margin-top: -5px;">
<div class="container">
    <div class="font-shadow centerContent" style="cursor: pointer;">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link textStyle" (click)="redirectToComponentPosition('#project')">Project</a>
            </li>
            <li class="nav-item">
                <a class="nav-link textStyle" (click)="redirectToComponentPosition('#experience')">Experience</a>
            </li>
            <li class="nav-item">
                <a class="nav-link textStyle" (click)="redirectToComponentPosition('#contactMe')">Contact Me</a>
            </li>
        </ul>
    </div>
    <div style="display: flex; justify-content: end;">
        <a id="back-to-top" href="#" *ngIf="isShow" style="z-index: 999; position: fixed;" (click)="gotoTop()"
            class="btn btn-light btn-lg back-to-top" role="button">
            <i class="fas fa-chevron-up"></i>
        </a>
    </div>
    <!------------------------------------------------------------------------------------------------------------>
    <div>
        <app-home></app-home>
        <div>
            <hr>
            <div id="project">
                <app-project></app-project>
            </div>
            <hr>
            <div id="experience">
                <app-career></app-career>
            </div>
            <hr>
            <div id="contactMe" style="margin-bottom: 20px;">
                <app-about-ayush></app-about-ayush>
            </div>
        </div>
    </div>

    <!-- Show loader on launch. -->
    <app-loader></app-loader>
</div>