/* You can add global styles to this file, and also import other style files */
$Blue : #648bff;

body {
  font-family: ui-sans-serif;
}

.errmsg {
  color: red;
  font-size: 2vh;

  .form-control {
    border-bottom: solid red 1px;
  }
}

.form-control {
  border: none;
  border-bottom: solid black 1px;
}

.btn-close:focus {
  outline: none;
  box-shadow: none;
  opacity: 0
}

.form-control:focus {
  color: #212529;
  border-color: black;
  outline: none;
  box-shadow: none
}

.centerContent {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 300px) and (max-width: 767.98px) {
  .textStyle {
    font-size: xx-small;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .textStyle {
    font-size: large;
  }
}

@media only screen and (min-width: 992px) {
  .textStyle {
    font-size: larger;
  }
}

.font-shadow {
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
  letter-spacing: 0.2em;
  text-align: center;
}

.iconHeight {
  width: 32;
  height: 32;
}

// ---------
// Heading style like Ayush Anand, Projects ...
.info-text {
  margin-top: 1rem;
  font-size: 50px;
  line-height: 1;
  font-family: 'Google Sans Bold';
}

.info-text-p {
  font-size: 20px;
  font-family: 'Google Sans Medium';
}

.socialMediaIcons {
  width: 15rem;
  display: flex;
  justify-content: space-between;
}

/* Media Query */
@media (max-width: 1380px) {
  .info-text {
    font-size: 50px;
  }

  .text-p {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .info-text {
    margin-top: 1rem !important;
    font-size: 30px;
  }

  .info-text-p {
    font-size: 16px;
    margin-right: 0px;
    line-height: normal;
  }
}

.contact-me .title {
  text-align: justify;
  letter-spacing: 3px;
  background: -moz-linear-gradient(left, #f4524d 0%, #5543ca 100%) !important;
  background: -webkit-linear-gradient(left, #f4524d 0%, #5543ca 100%) !important;
  background: linear-gradient(to right, #f4524d 0%, #5543ca 100%) !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.form-control {
  border-radius: 0;
}

label {
  font-size: calc(0.9rem + .3vw)
}

.underline {
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: $Blue !important;
}

.underline:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 3px;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: $Blue;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0%;
}

.underline:hover:after {
  width: 100%;
  left: 0;
}

.list-style {
  list-style-type: square;
}