<dl class="accordion" id="accordionExample">
  <section *ngFor="let company of projectData.company; let i = index" class="accordion-item">
    <dt class="accordion-header" [id]="'heading' + i">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + i" [attr.aria-expanded]="i === 0 ? 'true' : 'false'" [attr.aria-controls]="'collapse' + i">
        {{ company.companyName }} | {{ company.duration }}
      </button>
    </dt>
    <dd [id]="'collapse' + i" class="accordion-collapse collapse show" [attr.aria-labelledby]="'heading' + i" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <article *ngFor="let project of company.projects; let j = index" class="col shadow-sm">
          <div class="card mt-1">
            <div class="card-body">
              <h5 class="card-title">{{ project.projectName }}</h5>
              <div class="mt-1">
                <span>Technologies used:</span>
                <code>{{ project.technologiesUsed }}</code>
              </div>
              <div>
                <span>Roles: </span> <code>{{ project.role }}</code>
                <div>Responsibilities:</div>
                <div class="container list-style" role="list">
                  <div *ngFor="let responsibility of project.responsibilities">
                    <li>{{ responsibility }}</li>
                  </div>
                </div>
              </div>
              <div *ngIf="project.achievements">
                <span>Achievement: <code>{{ project.achievements }}</code></span>
              </div>
            </div>
          </div>
        </article>
      </div>
    </dd>
  </section>
</dl>