<section class="mt-2 mb-3">
  <section class="contact-me">
    <h4 class="title">Project</h4>
  </section>
  <div class="accordion mt-2" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Zycus Infotech | Since - Dec, 2022
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="col shadow-sm">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">i-Console</h5>
                <p class="card-text">
                  A Zycus product which helps client/user to integrate with multiple software applications.
                </p>
                <a href="https://www.zycus.com/press-releases/zycus-strengthens-its-integration-with-multiple-software-applications-using-iconsole.html" target="_blank" class="btn btn-info shadow">Read More...</a>
                <div class="mt-1">
                  <span>Technologies used:</span>
                  <code> HTML5, CSS, Angular 2+, TypeScript, JavaScript, Bitbucket, GIT, Java</code>
                </div>
                <div class="mt-1">
                  <span>Roles: </span> <code>Associate Technical Lead [Angular]</code>
                  <div>Responsibilities:</div>
                  <div class="container list-style" role=listitem data-aos="fade-up">
                    <li data-aos="fade-up" data-aos-duration="1000">Collaborated with cross-functional teams to design and implement new features and functionalities.</li>
                    <li data-aos="fade-up" data-aos-duration="1000">Developed and maintained complex Angular applications using Angular 11+.</li>
                    <li data-aos="fade-up" data-aos-duration="1000">Created responsive user interfaces using HTML5/CSS3 and CSS Library like Bootstrap.</li>
                    <li data-aos="fade-up" data-aos-duration="1000">Conducted code reviews and implemented best practices to ensure code quality and maintainability.</li>
                    <li data-aos="fade-up" data-aos-duration="1000">Worked with RESTful APIs to fetch and display data in real-time.</li>
                    <li data-aos="fade-up" data-aos-duration="1000">Participated in agile development processes and attended daily stand-up meetings.</li>
                    <li data-aos="fade-up" data-aos-duration="1000"> Troubleshot and resolved technical issues and bugs.</li>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Efi India Pvt Ltd | Apr 2020 - Dec 2022
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="card shadow-sm">
            <div class="card-body">
              <h5 class="card-title">Spot Pro</h5>
              <span>Technologies used:</span>
              <code> HTML5, CSS, Angular 8+, TypeScript, JavaScript, SVN, GIT, C++</code>
              <div>
                <span>Roles: </span> <code>Software Engineer [Angular/ UI Developer]</code>
                <div>Responsibilities:</div>
                <ul class="container list-style" role=listitem data-aos="fade-up">
                  <li data-aos="fade-up" data-aos-duration="1000">Involved in designing the user experience interface UI/UX strategy, Brainstroming the feature and
                    UI requirements for UI designs and workflow.</li>
                  <li data-aos="fade-up" data-aos-duration="1000">UI Lead and Code reviewer.</li>
                  <li data-aos="fade-up" data-aos-duration="1000">Infrastructure Upgrade and Bug Tracking and fixing.</li>
                  <li data-aos="fade-up" data-aos-duration="1000">Add new features as per the requirements.</li>
                  <li data-aos="fade-up" data-aos-duration="1000">Application performance enhancement</li>
                  <li data-aos="fade-up" data-aos-duration="1000">Used SVN for version control and JIRA for defect tracking. </li>
                  <li data-aos="fade-up" data-aos-duration="1000">Used Jasmine/Karma for unit testing.</li>
                  <li data-aos="fade-up" data-aos-duration="1000">Responsible for Build and Release process.</li>
                </ul>
              </div>
              <div>
                <span>Achivement : <code>Upgraded Angular verion 6 to Angular 13. | Electron version 5 to 18</code> </span>
              </div>
            </div>
          </div>
          <div class="col mt-3">
            <div class="card shadow-sm">
              <div class="card-body">
                <h5 class="card-title">Fiery Verify</h5>
                <span>Technologies used:</span>
                <code> HTML5, CSS, Angular.js, TypeScript, JavaScript, GIT, C++</code>
                <div>
                  <span>Roles: </span> <code>Software Engineer [Angular/ UI Developer]</code>
                  <div>Responsibilities:</div>
                  <div class="container">
                    <li>Application performance enhancement</li>
                    <li>Code reviewer.</li>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          TYSS | June 2019
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="col">
            <div class="card shadow-sm bg-body">
              <div class="card-body">
                <h5 class="card-title">Tyro Vet</h5>
                <span>Technologies used:</span>
                <code> HTML5, CSS, Angular 6+, TypeScript, JavaScript,GIT, Node.js, MongoDB</code>
                <div>
                  <div>
                    <span>Roles: </span> <code>Software Engineer [Angular/ UI Developer]</code>
                  </div>
                  <div>Responsibilities:</div>
                  <ul class="container list-style" role=listitem data-aos="fade-up">
                    <li data-aos="fade-up" data-aos-duration="1000">Involved in designing the user experience interface UI/UX strategy, UI requirements, into UI
                      designs.</li>
                    <li data-aos="fade-up" data-aos-duration="1000">Implemented admin dashboard using High chart and Google chart.</li>
                    <li data-aos="fade-up" data-aos-duration="1000">Implemented the new features as per the requirements within timeline.</li>
                    <li data-aos="fade-up" data-aos-duration="1000">Worked for adding functionality and enhancement of application.</li>
                    <li data-aos="fade-up" data-aos-duration="1000">Worked on fixing critical issues of high, medium, and low priority.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col mt-3">
            <div class="card shadow-sm bg-body">
              <div class="card-body">
                <h5 class="card-title">SkillRary: Online Courses - Learn Anywhere, Learn Any Skill</h5>
                <span>Technologies used:</span>
                <code> HTML5, CSS, JavaScript,GIT</code>
                <div>
                  <div>
                    <span>Roles: </span> <code>Associate Software Developer</code>
                  </div>
                  <div>Responsibilities:</div>
                  <div class="container">
                    <li>Worked on fixing critical issues of high, medium, and low priority.</li>
                    <li>Supporting the team mates.</li>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section class="centerContent">
  <button type="button" class="btn btn-light btnRight shadow"> <a href="https://anand-ayush.web.app/" target="_blank"
          style="text-decoration: none;"> This Portfolio
      </a></button>
</section> -->